body {	
  	margin: 0;
  	font-family: 'Ubuntu', sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
	animation: flicker 2s infinite alternate;
  	margin-top: 0;
  	padding: 15px 0;
}

header{
	background-color: #323339;
  	color: #FFF;
	margin-bottom: 40px;  
  	text-shadow:
    	0 0 7px #fff,
    	0 0 10px #fff,
    	0 0 21px #fff,
    	0 0 42px #0fa,
    	0 0 82px #0fa,
    	0 0 92px #0fa,
    	0 0 102px #0f9,
    	0 0 151px #0f9;
  	padding: 15px;
}



select, input[type="submit"] {
  margin: 10px;
}

/*************
	Classes
*************/

.content{
	text-align:left;
}

.grid-element{
	border: solid 4px rgba(0,0,0,0.5);
	border-radius: 20px;
	display: flex;
	flex-direction: column;	
	margin: 20px;
	padding: 20px;
}

.grid-element:hover{
	border: solid 4px #5783EE;
}

.grid-element img{
	margin-bottom: 5px;
}

.grid-element p, .grid-element a{
	margin: 0;
	padding-left: 10px;
}

/*******************
 	Media Queries
*******************/

@media screen and (min-width: 425px){
	.grid-wrapper{
		display: grid;		
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		margin: 0 auto;
		max-width: 90%;
	}

	.grid-element{
		max-width: 70%;
		overflow: hidden;
		padding: 15px;
	}

	.grid-element img{
		border-radius: 20px;
		max-height: 90%;
		margin-bottom: 10px;
		max-width: 90%;
	}
}

@media screen and (min-width: 768px){

	h1{
		font-size: 4em;
	}

	label{
		font-size: 25px;
		font-weight: 700;
	}

	select, input[type="submit"]{
		background-image: linear-gradient(rgba(0,0,0,0.3), #FFF, rgba(0,0,0,0.3));
		border: solid 2px black;
		border-radius: 20px;
		font-size: 16px;
		font-weight: 700;
		padding: 5px;
	}

	input[type="text"] {
		border: solid 2px black;
		border-radius: 20px;
		font-size: 16px;
		font-weight: 700;
		padding: 5px;
	}

	.grid-element img{
		border-radius: 20px;
		height: 200px;
		margin-bottom: 10px;
		max-width: 200px;
	}
}

@media screen and (min-width: 1024px){
	.grid-wrapper{
		grid-template-columns: 1fr 1fr 1fr;
		max-width: 90%;
	}

	.grid-element{
		max-width: 90%;
	}

	.grid-element img{
		max-width: 250px;
	}
}

@media screen and (min-width: 1336px){
	.grid-wrapper{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

/****************
	Keyframes
****************/
@keyframes flicker {
	0%, 18%, 22%, 25%, 53%, 57%, 100% {
	  text-shadow:
		0 0 4px #fff,
		0 0 11px #fff,
		0 0 19px #fff,
		0 0 40px #0fa,
		0 0 80px #0fa,
		0 0 90px #0fa,
		0 0 100px #0fa,
		0 0 150px #0fa;
	}
	20%, 24%, 55% {       
	  text-shadow: none;
	}
  }