body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin-top: 0;
  padding: 15px 0;
}

header{
  background-color: #5783EE;
  color: #FFF;
}

select, input[type="submit"] {
  margin: 10px;
}

/*************
	Classes
*************/

.content{
	text-align:left;
}

.grid-element{
	border: solid 4px rgba(0,0,0,0.5);
	border-radius: 20px;
	display: flex;
	flex-direction: column;	
	margin: 20px;
	padding: 20px;
}

.grid-element:hover{
	border: solid 4px #5783EE;
}

.grid-element img{
	margin-bottom: 5px;
}

.grid-element p, .grid-element a{
	margin: 0;
	padding-left: 10px;
}

/*******************
 	Media Queries
*******************/

@media screen and (min-width: 425px){
	.grid-wrapper{
		display: grid;		
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		margin: 0 auto;
		max-width: 80%;
	}

	.grid-element{
		max-width: 70%;
		overflow: hidden;
		padding: 15px;
	}

	.grid-element img{
		border-radius: 20px;
		height: 200px;
		margin-bottom: 10px;
		max-width: 200px;
	}
}

@media screen and (min-width: 768px){
	label{
		font-size: 25px;
		font-weight: 700;
	}

	select, input[type="submit"]{
		background-image: linear-gradient(rgba(0,0,0,0.3), #FFF, rgba(0,0,0,0.3));
		border: solid 2px black;
		border-radius: 20px;
		font-size: 16px;
		font-weight: 700;
		padding: 5px;
	}

	input[type="text"] {
		border: solid 2px black;
		border-radius: 20px;
		font-size: 16px;
		font-weight: 700;
		padding: 5px;
	}
}

@media screen and (min-width: 1024px){
	.grid-wrapper{
		grid-template-columns: 1fr 1fr 1fr;
		max-width: 90%;
	}

	.grid-element{
		max-width: 90%;
	}

	.grid-element img{
		max-width: 250px;
	}
}

@media screen and (min-width: 1336px){
	.grid-wrapper{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}