body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin-top: 0;
  padding: 15px 0;
}

header{
  background-color: #5783EE;
  color: #FFF;
}

select, input[type="submit"] {
  margin: 10px;
}

/*************
	Classes
*************/

.content{
	text-align:left;
}

.grid-element{
	border: groove 4px #000;
	display: flex;
	flex-direction: column;
	margin: 20px;
	padding: 20px;
}

.grid-element:hover{
	background-color:#000;
	border: groove 4px #FFF;
	color:#FFF;
}

.grid-element img{
	margin-bottom: 5px;
}

.grid-element p, .grid-element a{
	margin: 0;
	padding-left: 10px;
}

/*******************
 	Media Queries
*******************/

@media screen and (min-width: 425px){
	.grid-wrapper{
		display: grid;		
		grid-template-columns: 1fr 1fr;
		max-width: 100%;
	}

	.grid-element{
		max-width: 40%;
	}
}